.drawerbar {
  -webkit-app-region: drag;
  border-radius: 19px;
  background-color: #060b26;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  -webkit-app-region: no-drag;
  margin-top: 0.3rem;
  margin-left: 1.3rem;  
  font-size: 1.2rem;
  background: none;
}

.menu-bars-open {
  -webkit-app-region: no-drag;
  margin-bottom: 0.3rem;
  margin-left: 1.3rem;  
  font-size: 1.2rem;
  background: none;
}

.minimize-bar {
  -webkit-app-region: no-drag;
  margin-top: 0.3rem;
  margin-right: 1rem;
  font-size: 1.2em;
  background: none;
}

.maximize-bar {
  -webkit-app-region: no-drag;
  margin-top: 0.3rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.close-bar {
  -webkit-app-region: no-drag;
  margin-top: 0.3rem;
  margin-right: 1.3rem;
  font-size: 1.2rem;
  background: none;
}

.drawer-menu {
  border-radius: 19px;
  background-color: #060b26;
  width: 20vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 120ms;
}

.drawer-menu.active {
  left: 0;
  transition: 120ms;
}

.drawer-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.drawer-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.drawer-text a:hover {
  background-color: #1a83ff;
  border-radius: 50px;
}

.drawer-menu-items {
  width: 100%;
}

.drawerbar-toggle {
  border-radius: 19px;
  background-color: #060b26;
  width: 100%;
  padding-left: 8px;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}